body{
    margin: 0;
    padding:0;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1;
}
.left{
    width: 40%;
    height:730px;
    background-color: rgb(255, 255, 255);
}

.left-top{
    height: 80px;
    width: 100%;
    background-color:#C51D23;
}

.left-top p {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.collapsible {
    background-color: #FFFFFF;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  
  } 
  .active, .collapsible:hover {
    background-color: #FFFFFF;
  }
  
  .collapsible:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #E8E8E8;
  }
 
  .content p {
    color: black;

  }

  .collapsible-menu{
      margin-top: 32px;
      overflow-y: auto;
}