.inner-wrapper{
    display: flex;
    overflow:hiden;
}

.left{
height: 700px;
width: 35%;    
background-color:lightsalmon;
}

.inner-left{
    height: 200px;
    width: 100%;
    background-color: aqua;
}

.right{
    height: 700px;
    width: 65%;    
    background-color:lightgoldenrodyellow;
}