.about-container{
    height: auto;
    background-color: rgb(49, 168, 168);
    padding: 100px;

    button{
        margin-top: 50px;
        margin-left: 42%;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.card{
    margin: 20px;
    width: 16rem;
    
    .card-img-top{
        height: 200px;
    }
}




