.masthead{
        width: 100%;
        height: 400px;
        background-color: bisque;
        background: url("/img/cricket11.png");
        background-size: cover;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
}