.masthead{
        width: 100%;
        max-height: 800px;
        background-color: bisque;
        background: url("/img/cricket11.png");
        background-size: cover;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
}
.carousel-inner {
        img{
                height: 800px;
        }
}
