.play-container{
  width: 100%;
  height: 700px;
  padding-top: 50px;
  background-color: white;


  .video-div{
    display: flex;
    padding-top: 10px;

    .video{
      height: 550px;
      width: 60%;
  
      video{
        height: 400px;
        width: 800px;
        margin-top: 50px;
        margin-left: 150px;
      }
    }
    .video-info{
      margin-top: 100px;
      height: 400px;
      width: 30%;
   

      h5{
        margin-top: 20px;
        margin-left: 115px;
      }
      P{
        margin-left: 135px;
      }
    }
  }
}