@font-face{
    font-family: "shellia";
    src: url('/fonts/Shellia.ttf');
}
@font-face{
    font-family: "yulinda";
    src: url('/fonts/Yulinda\ Script.ttf');
}
@font-face{
    font-family: 'bloomer';
    src: url('/fonts/Bloomer\ DEMO.otf');
}
@font-face{
    font-family: 'giveny';
    src: url('/fonts/Giveny.ttf');
}
@font-face{
    font-family: 'giveny-italic';
    src: url('/fonts/Giveny\ Italic.ttf');
}